<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
	
	<!-- member Alias -->
		<typeAlias type="com.seoulcheckin.app.member.vo.MemberVO" alias="memberVO"/>
	<!-- member Alias -->
	
	<!-- school Alias -->
		<typeAlias type="com.seoulcheckin.app.school.vo.SchoolDTO" alias="schoolDTO"/>
		<typeAlias type="com.seoulcheckin.app.school.vo.SchoolVO" alias="schoolVO"/>
	<!-- school Alias -->
	
	<!-- banner Alias -->
		<typeAlias type="com.seoulcheckin.app.banner.vo.BannerVO" alias="bannerVO"/>
	<!-- banner Alias -->
	
	<!-- faq Alias -->
	<!-- faq Alias -->
	
	<!-- file Alias -->	
	<!-- file Alias -->
	
	<!-- map Alias -->
	<!-- map Alias -->
	
	<!-- message Alias -->
	<!-- message Alias -->
	
	<!-- myprogram Alias -->
	<!-- myprogram Alias -->

	<!-- navigator Alias -->	
	<!-- navigator Alias -->	
	
	<!-- visa Alias -->
	<!-- visa Alias -->
	
	<!-- notice Alias -->
	<!-- notice Alias -->
	
	

	
	</typeAliases>
	
	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/teamone"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/seoulcheckin/mybatis/mapper/MemberMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/FaqMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/BoardMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/CommentMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/MapMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/MessageMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/NoticeMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/SchoolMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/VisaMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/BannerMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/FileMapper.xml"/>
		<mapper resource="com/seoulcheckin/mybatis/mapper/MyProgramMapper.xml"/>
	</mappers>

</configuration>