<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
	<select id="checkId" parameterType="string" resultType="_int">
		select count(member_email) from tbl_member where member_email = #{memberEmail}
	</select>
	
	<insert id="join" parameterType="memberVO">
		insert into tbl_member(member_classification, member_email, member_name, member_phone, member_password)
		values(#{memberClassification}, #{memberEmail}, #{memberName}, #{memberPhone}, #{memberPassword})
	</insert>
	
	<select id="login" parameterType="memberVO" resultType="_int">
		select member_number from tbl_member
		where member_email = #{memberEmail} and member_password = #{memberPassword}
	</select>
	
	<update id="update" parameterType="memberVO">
		update tbl_member
		set member_name = #{memberName}, member_email = #{memberEmail}, member_password = #{memberPassword}, member_phone = #{memberPhone}
		where member_number = #{memberNumber}
		
	</update>
	
</mapper>


