<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Message">
	
	<insert id="insert" parameterType="messageVO">
		insert into tbl_message (message_recive_email, message_send_email, message_article) values(#{messageReceiveEmail},#{messageSendEmail},#{messageArticle})
	</insert>
	
</mapper>